<form *ngIf="showAddTask" (ngSubmit)="onSubmit()" class="add-form">
  <div class="form-control">
    <label for="text">Task</label
    ><input
      type="text"
      name="text"
      [(ngModel)]="title"
      id="test"
      placeholder="Add Task"
    />
  </div>
  <div class="form-control">
    <label for="description"> Description </label>
    <input
      type="text"
      name="desc"
      [(ngModel)]="description"
      id="desc"
      placeholder="Enter a Description"
    />
  </div>
  <div class="form-control">
    <label for="day">Due Date</label
    ><input type="date" name="day" [(ngModel)]="due_date" id="day" />
  </div>
  <div class="form-control">
    <label for="tags">Tags</label>
    <input type="text" name="tags" [(ngModel)]="tags" id="tag" />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
